<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.authgear.exampleapp.flutter">
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- NOTE(backup): Please search NOTE(backup) before you modify allowBackup, fullBackupContent, or dataExtractionRules -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:label="Authgear Flutter"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.authgear.flutter.OAuthRedirectActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="host"
                    android:pathPrefix="/path"
                    android:scheme="com.authgear.exampleapp.flutter" />
                <data
                    android:host="host"
                    android:pathPrefix="/open_wechat_app"
                    android:scheme="com.authgear.exampleapp.flutter" />
            </intent-filter>
        </activity>
       <activity
           android:name=".wxapi.WXEntryActivity"
           android:theme="@style/LaunchTheme"
           android:exported="true"
           android:taskAffinity="com.authgear.exampleapp.flutter"
           android:launchMode="singleTask">
       </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
